/* In order to select an element that we want to change we simply use . in front of it and then the class name in div.*/
/* Flex box used for layout. Looks through the nav-wrapper and checks which elements are left and right and puts them next to each other.*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;
}
/* Traverse down a tree--> Going to look at the nav-wrapper then it is going to go down to the left side, in the html, and look at any div's inside of there; and styles will be placed on those div's. */
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}