/* In order to select an element that we want to change we simply use . in front of it and then the class name in div.*/

/*  Master Styles  */
body{
    margin: 0px;
}

/*CSS grid used to align items somewhat similar to flex box but has its differences.(Layout in grid).*/
.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Flex box used for layout (small elements built out using flex box). Looks through the nav-wrapper and checks which elements are left and right and puts them next to each other.*/

/*  Nav styles  */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side{
    display: flex;
}
/* Traverse down a tree--> Going to look at the nav-wrapper then it is going to go down to the left side, in the html, and look at any div's inside of there; and styles will be placed on those div's. */
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

/* Adding styles to nav-link-wrapper. So when you hover over the links it fades in and out. */
.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

/* Adds colour to the links, and a nice underline underneath the links. */
.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
/* So when you hover over the link the underline fades in and becomes black.*/
.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}
/* So when you hover over the link the actual home and about turn black. */
.nav-link-wrapper a:hover {
    color: black;
}

/*  Portfolio styles  */

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
    position: relative;
}

.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover; /* background-size: cover; -----> makes sure even though all images are a different size they appear as the same size on the website. And it 'crops' the images so they sit nicely next to each other. */
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex; /* All the items use flexbox.*/
    flex-direction: column;
    justify-content: center; /* Centers items from left to right.*/
    align-items: center; /* Centers items from top to bottom.*/
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;


}

